<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606389210940-c1asg94jfkjgqb42pot6jkq6g9imro86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606389210940-c1asg94jfkjgqb42pot6jkq6g9imro86</string>
	<key>API_KEY</key>
	<string>AIzaSyBfzCRO3P4tXVVD2384UtRa6akVv6SZqK8</string>
	<key>GCM_SENDER_ID</key>
	<string>606389210940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jagannathm007.fireProvider</string>
	<key>PROJECT_ID</key>
	<string>fire-provider-649bc</string>
	<key>STORAGE_BUCKET</key>
	<string>fire-provider-649bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606389210940:ios:36268b261eaa3f64341839</string>
</dict>
</plist>